<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <img src="/assets/SUPERCITO.png" class="icon1">

    <ion-buttons slot="end">
      <ion-button routerLink="/menu/vista-producto">
        <img src="/assets/mercado.png" class="producto1">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ">

  <br>

  <ion-row>
    <ion-col size="8" style="align-self: center;
    place-self: flex-end;" >
    <label style="font-size:medium; ">Ubicación de entrega:&nbsp;{{direccion}}</label>
    </ion-col>
    <ion-col  (click)="abrirModalubicacion()" style="text-align-last: end;">
      <img src="/assets/mapa.png" class="compra1">
    </ion-col>
  </ion-row>
  <hr>
  <br>
    <ion-row >
      <ion-col  style="align-self: center;
      place-self: flex-end;" >
        <p class="text1">Precio:&nbsp;&nbsp;{{totalAPagar}}</p>
      </ion-col>
      <ion-col style="text-align-last: end;">
        <ion-buttons >
        <ion-button *ngIf="ubicacion != 'undefined'" class="boton" color="danger"  (click)="validarCarrito()" shape="round" >Comprar</ion-button>
        </ion-buttons>
      </ion-col>

    </ion-row>
    <hr>

  <br>
  <ion-list *ngFor="let  carri of  carritoProducto">
    <ion-row [ngClass]="carri.PermitirVender?'positivo':'negativo'">
    <ion-item>
      <ion-img class="ESTILO "  *ngIf=" carri.file_name == null" src="/assets/SUPERCITO.png"></ion-img>
      <ion-img class="ESTILOIMAGEN" *ngIf=" carri.file_name != null" src="http://young-woodland-01238.herokuapp.com/img/items/{{carri.file_name}}.{{carri.file_extension}}"></ion-img>
      <ion-label>
        <h3 class="text" lines="full">{{ carri.NAME}}</h3>
        <p class="text1">Precio:&nbsp;&nbsp;{{ carri.PRICE | currency:"USD":true}}</p>
        <div class="row">
          <div class="col-12">
            <input (change)="modificarCantidad(carri,$event)" style="border: 1px solid rgb(240, 240, 240);width: -webkit-fill-available;margin-left: 15px;" type="number" name="" [(ngModel)]="carri.cantidad" min="1" max="carri.cantidad">
          </div>
        </div>
        <ion-buttons>
          <ion-button (click)="eliminar(carri)" class="boton">
            <ion-icon slot="start" name="trash-outline"> </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-label>
    </ion-item>


    </ion-row>

  </ion-list>


  <ion-list *ngFor="let carripro of carritoPromociones">
    <ion-row>
    <ion-item [ngClass]="carripro.PermitirVender?'positivo':'negativo'">
      
      <ion-img class="ESTILO "  *ngIf="  carripro.file_name == null" src="/assets/SUPERCITO.png"></ion-img>
      <ion-img class="ESTILOIMAGEN" *ngIf="carripro.file_name != null" src="http://young-woodland-01238.herokuapp.com/img/items/{{carripro.file_name}}.{{carripro.file_extension}}"></ion-img>
      <ion-label>
        <h3 class="text" lines="full">{{carripro.descripcion}}</h3>
        <p class="text1">Precio:&nbsp;&nbsp;${{carripro.PrecioPromocionConDescuento |number}}</p>
        <!-- <p class="text1">Cantidad:&nbsp;&nbsp;{{carripro.Carritocantidad}} &nbsp;
          <ion-icon (click)="modificarCantidadKit(carripro,$event)" class="icongrande" slot=" icon-only end" name="add-circle-outline"></ion-icon>
        </p> -->
        <div class="row">
          <div class="col-12">
            <input (change)="modificarCantidadKit(carripro,$event)" style="border: 1px solid white;width: -webkit-fill-available;margin-left: 15px;" type="number" name="" [(ngModel)]="carripro.Carritocantidad" min="1" max="carripro.cantidad">
          </div>
        </div>
        <ion-buttons>
          <ion-button (click)="eliminarPromocion(carripro.id)" class="boton">
            <ion-icon slot="start" name="trash-outline"> </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-label>

    </ion-item>

    </ion-row>

  </ion-list>

</ion-content>
<!-- <ion-footer>
  <ion-toolbar  (click)=" abrirModalubicacion()">
    <ion-title> Ubicación De Entrega</ion-title>
  </ion-toolbar>
</ion-footer> -->
