.text1{
    padding-left: 15px;
    margin-top: 4px;
    font-size: small;
  }
  label {
    margin: 1em auto;
  }
  .img{
 
    width: 80px;
    height: 80px;
    }
    .text{
        font-weight: bold;
        text-transform: capitalize;
        text-transform: none;
        margin-top: 0px;
        margin-left: 20px;
        margin-bottom: 6px;
        display: table-cell;
        padding-left: 10px;
      }
      .boton {
        margin-left: 0px;
        text-transform: none;
        font-size: medium;
        
              
        }
        .shadow-red{
          --ion-color-bgColor-contrast-rgb: 255, 255, 255;
          border-radius: 5px;
      }
        .negativo {
          color: red;
        }
        .positivo {
          color: rgb(104, 214, 54);
        }
        .icongrande {
      font-size: 150%;
      color: greenyellow;
      }
      .producto1{

        height: 102%;
      }
      .compra1{
        height: 100%;
      }
      .ESTILO{
 
   
        width: 100px; 
        height: 100px;
        margin:10px auto;
        display:block;
        margin-left: auto;
        margin-right: auto;
        }
        .ESTILOIMAGEN{
     
          width: 115px; 
          height: 115px;
          margin:10px auto;
         display:block;
         margin-left: auto;
         margin-right: auto;
         
          }