<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <img src="/assets/SUPERCITO.png" class="icon1">
    <ion-buttons slot="end" >
      <ion-button routerLink="/menu/vista-producto"> 
        <img src="/assets/mercado.png" class="producto1">  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-searchbar  displayFormat="MM DD YY" placeholder="Compras"  color="warning"  (ionChange)="buscar( $event )"animated  style="padding-top: 0px;" mode="ios" >
    <ion-datetime displayFormat="MM DD YY" ></ion-datetime>
  </ion-searchbar> -->
  <!-- <ion-row size="12">
    <ion-col  style="margin-left: 8px;">
      <input type="date"   class="redondeadonorelieve" >
    </ion-col >
    <ion-col >
      <input type="date"   class="redondeadonorelieve" >
    </ion-col>
     <ion-col  >
      <ion-buttons >
        <ion-button > 
          <ion-icon slot="icon-only" name="search-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col> 
  </ion-row> -->
 
  
</ion-header>

<ion-content >
  <ion-card>
    <ion-row size="12">
      <ion-col  style="margin-left: 8px;">
        <b>Fecha Inicio &nbsp;:</b>
        <input type="date"[(ngModel)]="fechaInicio" class="redondeadonorelieve" >
      
      </ion-col >
      <ion-col >
        <b>Fecha Final &nbsp;:</b>
        <input type="date" [(ngModel)]="fechaFin" class="redondeadonorelieve" >
       
      </ion-col>
       <ion-col  >
         <br>
        <ion-buttons >
          <ion-button (click)="consultarOrdenesCompra()"> 
            <img src="/assets/lupa.png"   class="producto1"> 
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
   
  </ion-card>
  <ion-card>
    <ion-card-content>
    <b style="font-size: medium">Datos del cliente</b>
    <br>
    <br>
      <p ><b >Nombre</b> &nbsp;&nbsp; {{nombre}}</p>
      <p ><b>Cedula</b> &nbsp;&nbsp; {{cedula}}</p>
  </ion-card-content>
  </ion-card>
  <ion-card  (click)="expandItem(item)" *ngFor="let item of  CompraProducto | filtro:textoBuscar:'fechaOrden'">
   <ion-card-header >
    <b>Pedidos</b>
  
    <ion-row  *ngIf="item.estado.cod == '002';else boton"  mode="ios">
      <ion-col  (click)="abrirModal(item)">
       <img src="/assets/mapa.png" class="compra1"> 
      </ion-col>
      <ion-col  >
        <ion-button  size="small" shape="round"  [ngClass]="item.estado.cod == '001' ? 'positivo': item.estado.cod == '004'? 'negativo':item.estado.cod == '002'? 'proceso':item.estado.cod == '003'? 'positivo':item.estado.cod == '006'? 'negativo':'positivo'" >{{item.estado.descripcion}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row  >
      <ion-col  >
        <ng-template   #boton>
          <ion-button   size="small" shape="round"  [ngClass]="item.estado.cod == '001' ? 'positivo': item.estado.cod == '004'? 'negativo':item.estado.cod == '002'? 'proceso':item.estado.cod == '003'? 'positivo':item.estado.cod == '006'? 'negativo':'positivo'" >{{item.estado.descripcion}}</ion-button>
         </ng-template>
      </ion-col>
      
    </ion-row>
      
      <h5 class="compaorden"> Orden:&nbsp;{{item.Orden}} </h5>
     <p class="compa">Fecha: &nbsp;{{item.fechaOrden}} </p>
     <p class="compa" >Pago:&nbsp;{{item.tipo_pago.descricion}}</p>
    </ion-card-header>
   <ion-card-content class="cass" *ngFor="let item1 of item.compras">

    <ion-row  *ngIf=" item1.id_Productos != null">  
      <ion-col >
          <p >{{item1.producto.NAME}} </p>
      </ion-col>
      <ion-col style="text-align-last: end;" >
          <p >{{item1.producto.PRICE |number}} </p>
      </ion-col>
    </ion-row>
    
    <ion-row  *ngIf=" item1.idPromocionProducto != null" >
      <ion-col >
        <p>{{item1.promocion.productos_promocion1.NAME}}</p>
      </ion-col>
      <ion-col style="text-align-last: end;" >
        <p>{{item1.promocion.productos_promocion1.PRICE - (item1.promocion.productos_promocion1.PRICE * (item1.promocion.descuento/100)) }}</p>
      </ion-col>
    </ion-row>

    <ion-row  *ngIf=" item1.idRegistros != null"  >
      <ion-col >
        <p  >{{item1.registro.descripcion}}  </p>
      </ion-col>
      <ion-col style="text-align-last: end;" >
        <p>{{item1.valorPromocion}}</p>
      </ion-col>
    </ion-row>
 </ion-card-content>
 <hr>
 <ion-col>
<p class="casstotal">Total:&nbsp;&nbsp;{{item.total |number}}</p>
</ion-col>
 </ion-card>
 </ion-content>
