<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <img src="/assets/SUPERCITO.png" class="icon1">
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="card-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card  (click)="expandItem(item)" *ngFor="let item of  CompraProducto">
   <ion-card-header >
     <ion-card-title ><h5 >{{item.Orden}}</h5> 
      </ion-card-title>
   </ion-card-header>
 
   <ion-card-content>
 <app-promociones-com  expandHeight="200%" [expanded]="item.expanded">

     <ion-list >
       <ion-item *ngFor="let item1 of   item.compras" >
         <ion-label *ngIf=" item1.id_Productos != null" >
          <p >{{item1.producto.NAME}} </p>
          <p style="font-size:x-small;">Producto normal</p> 
        
         </ion-label> 
         <ion-label *ngIf=" item1.idRegistros != null" >
          <p >{{item1.registro.descripcion}}</p> 
          <p style="font-size:x-small;">Kits</p> 
         </ion-label>   
         <ion-label  *ngIf=" item1.idPromocionProducto != null"  >
           <p >{{  item1.promocion.productos_promocion1.NAME}}</p> 
           <p style="font-size: x-small;">Promoción producto</p>  
         </ion-label>          
       </ion-item>
     </ion-list>
 
 </app-promociones-com>
 </ion-card-content>
 </ion-card> 
 </ion-content>
