.compa{
  padding-top: 0px;
  padding-bottom: 0px;
    font-size: medium;
    margin-top: 0px;

    margin-bottom: 8px;
    
  
}
.compaorden{

    font-size: medium;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 8px;
    margin-top: 10px;
  
}

.cass{
  padding-top: 0px;
  padding-bottom: 0px;

  
}
.cassPrecio{
  word-spacing: normal; 
}
.casstotal{
  text-align-last: end;
  margin-right: 20px;  
  margin-top: 0px;
}
hr {
  background-color:rgb(160,160,160);
  margin-bottom: 0px;
}

.negativo {
   
    font-size: medium;
    text-transform: none;
    --background:rgb(235, 222, 222);
    color: red;
    position: absolute; 
    right: 0;
    
  }

  .positivo {
   
    font-size: medium;
    --background:rgb(235, 222, 222);
    text-transform: none;
    color: rgb(76, 158, 38);
    position: absolute; 
    right: 0;
 
  
  }
  .proceso {
    font-size: medium;
    text-transform: none;
    --background:rgb(235, 222, 222);
    color: rgb(8, 8, 8);
      position: absolute; 
    right: 0;
    padding-bottom: 0px;
    padding-top: 0px;
   
  }
  // .estado{
  //   margin-left: 120px;
  //   margin-top: 8px;
  //   margin-bottom: 10px;
  //   margin-right: 0px;
  // }
  .compra1{
    height: 45px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .producto1{

    height: 102%;
  
   
  }