<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <img src="/assets/SUPERCITO.png" class="icon1">
    <ion-buttons slot="end" (click) ="rutadelcarrito()">
      <ion-button >
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-content>
    <b style="font-size: medium">Datos del cliente</b>
    <br>
    <br>
      <p ><b >Nombre</b> &nbsp;&nbsp; {{nombre}}</p>
      <p ><b>Cedula</b> &nbsp;&nbsp; {{cedula}}</p>
  </ion-card-content>
  </ion-card>
  <ion-card  (click)="expandItem(item)" *ngFor="let item of  CompraProducto">
   <ion-card-header >
    <b>Pedidos</b>
    <div *ngIf="item.estado.cod == '002';else boton"  mode="ios">
      <ion-buttons >
        <!-- <ion-button ><img src="/assets/mapa.png" class="compra1" routerLink ="/menu/ubicacion"> </ion-button> -->
        <ion-button (click)="abrirModal(item)"><img src="/assets/mapa.png" class="compra1"> </ion-button>
        <ion-button  size="small" shape="round"  [ngClass]="item.estado.cod == '001' ? 'positivo': item.estado.cod == '004'? 'negativo':item.estado.cod == '002'? 'proceso':item.estado.cod == '003'? 'positivo':item.estado.cod == '006'? 'negativo':'positivo'" >{{item.estado.descripcion}}</ion-button>
      </ion-buttons>
    </div>

      <ng-template   #boton>
       <ion-button size="small" shape="round"  [ngClass]="item.estado.cod == '001' ? 'positivo': item.estado.cod == '004'? 'negativo':item.estado.cod == '002'? 'proceso':item.estado.cod == '003'? 'positivo':item.estado.cod == '006'? 'negativo':'positivo'" >{{item.estado.descripcion}}</ion-button>
      </ng-template>
      <h5 class="compa">{{item.Orden}} </h5>
     <p class="compa">Fecha: &nbsp;{{item.fechaOrden}} </p>
     <p class="compa" >Pago:&nbsp;{{item.tipo_pago.descricion}}</p>
    </ion-card-header>
   <ion-card-content class="cass" *ngFor="let item1 of   item.compras">
    <ion-row >

      <ion-col *ngIf=" item1.id_Productos != null" >
        <p >{{item1.producto.NAME}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item1.producto.PRICE |number}} </p>
      </ion-col>
      <ion-col *ngIf=" item1.idPromocionProducto != null" >
        <p  >{{item1.promocion.productos_promocion1.NAME}}</p>
      </ion-col>
      <ion-col *ngIf=" item1.idRegistros != null"  >
        <p  >{{item1.registro.descripcion}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item1.registro.descuento}}</p>

      </ion-col>

    </ion-row>

 </ion-card-content>
 <hr>
 <ion-col>
<p class="casstotal">Total:&nbsp;&nbsp;{{item.total |number}}</p>
</ion-col>
 </ion-card>
 </ion-content>
