.text{
    font-size: small;
    font-weight: bold;
    text-transform: capitalize;
    text-transform: none;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    
	
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0,0,0,0.5);
}
//   .card {
    
//     margin-left: 0px;
    
//   }  