#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.icon1{
    display: block;
    width: 40%;
    height: 60%;
    margin:10px auto;
    display:block;
    margin-left: 0px;
    margin-right: auto;
   
}
.noScroll {
overflow: hidden;
}
.bodyn { margin: 0; padding: 0; }