<ion-header class="ion-no-border" translucent>
  <ion-toolbar >
    <ion-title>Método de pago</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="closeModal()">
        <ion-icon name="close-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons> 
  
  </ion-toolbar>
  
</ion-header>

<ion-content  class="ion-no-padding">
 
 
  <ion-list >
   
    <ion-item *ngFor="let item of  tipoPago" button (click)="registroPago(item)" >
      <!-- <ion-avatar slot="start">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-avatar> -->
      <ion-label>{{item.descricion}}</ion-label>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <br>
  <br>

  <img src="/assets/SUPERCITO.png" >


</ion-content>

