<ion-header class="ion-no-border" translucent>
  <ion-toolbar >
    <ion-title>Método de pago</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="closeModal()">
        <ion-icon name="close-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons> 
  
  </ion-toolbar>
  
</ion-header>

<ion-content  class="ion-no-padding">

 
 
  <ion-list >
   
    <ion-item *ngFor="let item of  tipoPago" button (click)="registroPago(item)" >
      <ion-row >
        <ion-col>
     <ion-avatar slot="start">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-avatar> 
      <ion-label>{{item.descricion}}</ion-label>
      <!-- <img *ngIf="image" [src]="image" >  -->
    </ion-col> 
  </ion-row>

    </ion-item>
  </ion-list>

 

   <!-- <img *ngIf="image" [src]="image" >  
<br> -->
    <!-- <div *ngIf="image"> -->
      <ion-button  color="danger"  (click)="abrirModaComprobante()" expand="block" shape="round" fill="outline">Ver Comprobante</ion-button>
 
    <!-- </div> 
      -->

     <!-- <ion-button *ngIf="image" (click)="guardarDocumentoTransaccion(image)" color="warning"  size="small" shape="round" class="boton " > 
        <ion-icon slot="start" name="cart-outline"></ion-icon> Agregar
      </ion-button>
     
</ion-content>

