<ion-header class="ion-no-border" translucent>
  <ion-toolbar >
    <ion-title>Método de pago</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="closeModal()">
        <ion-icon name="close-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons> 
  
  </ion-toolbar>
  
</ion-header>

<ion-content  class="ion-no-padding">
  <img src="/assets/SUPERCITO.png" class="csssupercito" >
  <br>
  <ion-list #listaTPagos id="listaTPagos">
   
    <ion-item *ngFor="let item of  tipoPago" button (click)="registroPago(item)" >
      <ion-avatar slot="start">
        <img src="../../../../assets/transferencia-de-dinero.png" />
      </ion-avatar>
      <ion-label>{{item.descricion}}</ion-label>
    </ion-item>
  </ion-list>



</ion-content>

