
.icon1{
    display: block;
    margin-left: 40px;
    width: 25%;
    height: 40%;
   
}
    
.tool {
    background-color: rgb(182, 50, 27);
    background-color: rgb(173, 80, 80);
    text-shadow: 1px 1px #f8f9fa;;
    
}