.imagen {
height: 400px;

}

ion-avatar { 
    
    text-align: center;
        }
        .perfil{
            margin-bottom: 0px;
            margin-top: 30px;
        }
        .producto1{
            height: 45%;
        }