

<ion-header class="ion-no-border" >
 
    <ion-toolbar >
      <ion-menu-button  slot="start"></ion-menu-button>
      <img src="/assets/SUPERCITO.png" class="icon1" >
      <ion-buttons slot="end">
        <ion-button (click) ="rutadelcarrito()" > 
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon> 
        </ion-button>
      </ion-buttons> 
  
      
    </ion-toolbar>
    <ion-searchbar placeholder="Productos"   (ionChange)="buscar( $event )"animated style="padding-top: 0px;" mode="ios" ></ion-searchbar>
  
</ion-header>

<ion-content translucent color="dark" class="ion-padding ">
  <div class="container">
  <p *ngIf="iconoCargando" class="spinners"><ion-spinner color="primary" name="circles"></ion-spinner></p>
  <ion-list translucent>
  <ion-item button (click)="verProducto(item)" *ngFor="let  item of producto |filtro: textoBuscar:'NAME' "> 
    <img  src="/assets/fruta.jpg" class="img">
    <ion-label>
      <h3 class="text" lines="full">{{item.NAME}}</h3>
      <p class="text1" *ngIf=" item.promocionesdel_producto == null">Precio: {{ item.PRICE | currency:"USD":true}}</p>
      <p class="text1" *ngIf=" item.promocionesdel_producto == null">Cantidad: {{item.stock}}</p>
      <div  *ngIf=" item.promocionesdel_producto != null" >
          <p class="text1" >Precio: {{ ((item.promocionesdel_producto.descuento)/100 *item.PRICE) | currency:"USD":true}}     <s style="font-size: x-small;">{{ item.PRICE | currency:"USD":true}}</s></p> 
          <p class="text1"  > Cantidad: {{item.promocionesdel_producto.stock}}</p>
      </div>
      <ion-buttons>
        <ion-button (click)="verificarExiste(item)"  class="boton" > 
          <ion-icon slot="start" name="cart-outline"></ion-icon> Agregar
        </ion-button>
      </ion-buttons> 
    </ion-label>
    
  </ion-item>
</ion-list>
</div>
<ion-infinite-scroll threshold="150px" (ionInfinite)="cargarproducto($event)">
  <ion-infinite-scroll-content  color="primary"
    loadingSpinner="lines"
    loadingText="Cargando...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>




