

<ion-header   class="ion-no-border" >
 
    <ion-toolbar  >
      <ion-menu-button  slot="start"></ion-menu-button>
      <img src="/assets/SUPERCITO.png" class="icon1" >
      <ion-buttons slot="end">
        <ion-button (click) ="rutadelcarrito()" > 
          <img src="/assets/compras.png" class="producto1"> 
        </ion-button>
      </ion-buttons> 
    </ion-toolbar>
    <ion-searchbar   placeholder="Productos"  color="warning"  (ionChange)="buscar( $event )"animated  style="padding-top: 0px;" mode="ios" ></ion-searchbar>
</ion-header>

<ion-content    class="ion-padding ">
 
  <p *ngIf="iconoCargando"  color="light" class="spinners"><ion-spinner color="primary" name="circles"></ion-spinner></p>

  <ion-grid>
  <ion-row >
    <ion-col size="" *ngFor="let  item of producto |filtro: textoBuscar:'NAME' ">
      <ion-card  class="card-image">
        <ion-img class="ESTILO "  *ngIf="item.file_name == null" src="/assets/SUPERCITO.png"></ion-img>
        <ion-img class="ESTILOIMAGEN" *ngIf="item.file_name != null" src="https://blooming-plateau-78501.herokuapp.com/img/items/{{item.file_name}}.{{item.file_extension}}"></ion-img>
        <ion-card-content class="contenedor" >
    <h3 class="text" ><b>{{item.NAME}}</b></h3>
    <p class="text1" *ngIf=" item.promocionesdel_producto == null">Precio: {{ item.PRICE | currency:"USD":true}}</p>
    <p class="text1" *ngIf=" item.promocionesdel_producto == null">Cantidad: {{item.stock}}</p>
    <div  *ngIf=" item.promocionesdel_producto != null" >
        <p class="text1" >Precio: {{ item.PRICE - (item.PRICE * (item.promocionesdel_producto.descuento/100)) }}     <s style="font-size: x-small;">{{ item.PRICE | currency:"USD":true}}</s></p> 
        <p class="text1"  > Cantidad: {{item.promocionesdel_producto.stock}}</p>
    </div>
   
      <ion-button (click)="verificarExiste(item)" color="warning"  size="small" shape="round" class="boton " > 
        <ion-icon slot="start" name="cart-outline"></ion-icon> Agregar
      </ion-button>
    </ion-card-content>
    </ion-card>
    </ion-col> 
   </ion-row>
</ion-grid>

 <ion-infinite-scroll threshold="150px" (ionInfinite)="cargarproducto($event)">
  <ion-infinite-scroll-content  color="primary"
    loadingSpinner="lines"
    loadingText="Cargando...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>




