<ion-header  class="ion-no-border">
  <ion-toolbar color="warning" >
    <ion-title  color="danger" class="ion-text-center"x>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <br>
  
  <img src="/assets/SUPERCITO.png"  class="icon"  >
  <br>
  <form [formGroup]="user"  (ngSubmit)="registroUsuario()" novalidate >
    <ion-list>
    <ion-item>
      <ion-label position="floating" >Nombre:</ion-label>
      <ion-input type="text" formControlName="Nombre" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Correo electrónico:</ion-label>
      <ion-input type="number" formControlName="email" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Cedula:</ion-label>
      <ion-input type="number" formControlName="Cedula" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Celular:</ion-label>
      <ion-input type="number" formControlName="Celular" placeholder=""></ion-input>
    </ion-item> 
     <ion-item *ngIf="user.get('Celular').errors && user.get('Celular').dirty">
      <p color="danger" ion-text *ngIf="user.get('Celular').hasError('required')" >Campo es requeridos</p> 
      <p color="danger" ion-text *ngIf="user.get('Celular').hasError('maxLength')" >Cantidad maxima 10 caracteres</p>
    </ion-item>
    <ion-item >
      <ion-label for="Confirmar" position="floating" >Contraseña:</ion-label>
      <ion-input formControlName="Contrasena" placeholder=""type="password" id="Contrasena"></ion-input>
    </ion-item>
    <div  *ngIf="!user.controls['Contrasena'].valid && user.controls['Contrasena'].touched">
      contreseña deve ser de 6 digitos</div>
    <ion-item >
      <ion-label for="Confirmar" position="floating" >Confirmar contraseña:</ion-label>
      <ion-input formControlName="Confirmar" placeholder=""type="password" id="Confirmar"></ion-input>
      <div  *ngIf="user.controls['Confirmar'].touched
      && user.controls['Confirmar'].value !== user.controls['Contrasena'].value">
      contreseña deve ser igual</div>
    </ion-item>
    <br>
    <ion-button expand="full" color="warning" type="submit" shape="round" [disabled]="!user.valid">Registrar</ion-button>
  </ion-list>
</form>
</ion-content>
