.sign-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
   

    .header {
        flex: 1;
        .title {
            padding-top: 70px;
            img {
                width: 200px;
                height: 150px;
            }
        }
    }
    .login-container {
        flex: 2
        
    }
    .login-box {
        width: 320px;
        height: 420px;
       
        color: rgb(29, 27, 27);
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
      }
      .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
      }
      .login-box input {
        width: 100%;
        margin-bottom: 20px;
      }
      

  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #ffc107;
    background: transparent;
    outline: none;
    height: 40px;
    color:  #000;
    font-size: 16px;
  }

    .form {

        --background: none;
        background: none;
        max-width: 320px;
        margin: 0 auto;

        ion-item {
           
            
            --border-color: transparent !important;
            --highlight-height: 0;
            color: #080808;
            margin-bottom: 10px;

            ion-icon {
                color: #201f1f;
            }
        }
    }

    .sign-up-container {
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 100%;
        padding-top: 10px;
        transition: all 1s;
        border-radius: 85% 85% 0 0 / 30%;
        overflow: hidden;

        &.active {
            height: calc(105% - 180px);
        }
        
        .toggle-text {
            color:  #201f1f;
            font-size: 16px;
            margin-bottom: 30px;
        }

        .form {
            ion-item {
                --background: #fefffe;
            }
        }
    }
}

.gradient-1 {
    margin: 0;
    padding: 0;
 
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    --background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(224, 231, 231) 100%);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(224, 231, 231) 100%);
}

.gradient-2 {
    --background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(224, 231, 231) 100%);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(224, 231, 231)100%);
}

.green-button {
    --background:  #b80f22;
    color: rgb(246, 250, 250);
    
    width:80%;
  
}
.gray-button {
    --background:  #b80f22;
    color: rgb(246, 250, 250);
    
    width:80%;
}

.fade-in {
    animation: fadein 2s;
}
.fade-out {
    animation: fadeout 1s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}