
<ion-content >
  
  <div class="sign-container gradient-1" >

      <div class="header">
        
            <div class="title ion-text-center">
              <img src="/assets/SUPERCITO.png" >
          
            </div>
           
      </div>  
      
    <div class="login-box">
       <br> 
       <br> 
      
       
      <form [formGroup]="todo" (ngSubmit)="login()">
       
        <label for="username">Email</label>
        <input type="text" formControlName="Usuario"  placeholder="Email">

        <label for="password">Password</label>
        <input  #passwordEyeRegister formControlName="Contrasena"  [type]="passwordTypeInput" placeholder="Password"  >
      
        <div class="ion-text-center fade-in ">
          <ion-button  class="green-button" type="submit" shape="round" [disabled]="!todo.valid">Iniciar</ion-button>
          
          </div>
      
      </form>
    </div>


    <div class="sign-up-container gradient-2  ion-padding" [ngClass]="{'active': signupView}">

      <div class="toggle-text ion-text-center" tappable (click)="toggleSignUpView()">

        <span *ngIf="!signupView" [ngClass]="{'fade-in': !signupView, 'fade-out': signupView}">Sign Up</span>
        <span *ngIf="signupView" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">Login</span>
        <br>
      
        <ion-icon name="arrow-up-outline" *ngIf="!signupView" [ngClass]="{'fade-in': !signupView, 'fade-out': signupView}"></ion-icon>
        <ion-icon name="arrow-down-outline" *ngIf="signupView" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}"></ion-icon>
      </div>
      <form [formGroup]="user"  (ngSubmit)="registroUsuario()" novalidate >
      <ion-list lines="none" class="form" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">
        <ion-item>
          <ion-input  type="text" formControlName="Nombre" placeholder="Name:"></ion-input>
          <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input  type="email" formControlName="email" placeholder="Email:"></ion-input>
          <ion-icon slot="end" name="at"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-input  type="text" maxLength="10" formControlName="cedula" placeholder="Cedula:"></ion-input>
          <ion-icon name="wallet"></ion-icon>
          <ion-label color="danger"  *ngIf="user.get('cedula').invalid">Solo Números </ion-label> 
        </ion-item>
        <ion-item>
          <ion-input  type="text" formControlName="celular" placeholder="Celular:"></ion-input>
          <ion-icon name="phone-portrait"></ion-icon>
          <ion-label color="danger"  *ngIf="user.get('celular').invalid">Solo Números </ion-label>
        </ion-item>
        <ion-item>
          <ion-input  type="text" formControlName="direccion" placeholder="Dirección:"></ion-input>
          <ion-icon name="map"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input  type="text" formControlName="referencia" placeholder="Referencia:"></ion-input>
          <ion-icon name="trail-sign"></ion-icon>
        </ion-item>
        <ion-item >
          
          <ion-input formControlName="Contrasena" placeholder="Contraseña:"type="password" id="Contrasena"></ion-input>
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-input formControlName="Confirmar" placeholder="Confirmar contraseña:"type="password" id="Confirmar"></ion-input>
          <ion-icon name="ellipsis-horizontal"></ion-icon>
          <ion-label for="Confirmar" *ngIf="user.controls['Confirmar'].touched
          && user.controls['Confirmar'].value !== user.controls['Contrasena'].value">Comtraseña deben ser iguale</ion-label>
        </ion-item>
      
              <div class="ion-text-center" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">
                <ion-button  class="gray-button" type="submit" shape="round" [disabled]="!user.valid">Registrar</ion-button>
               
              </div>
      </ion-list>
      </form>
      

    </div>

  </div>
</ion-content>

