.image{
    
    text-align: center;
    height: 20%;
    width: 50%;
    align-items: center;

   
}
.center {
    height: 15%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.btn_eye_icon{
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}
.btn_eye_icon:focus{
    outline: none  !important;
}
.imagenlogin{
    height: 70%;
    width: 70%; 
}
