.icon1{
    display: block;
    width: 40%;
    height: 60%;
    margin:10px auto;
    display:block;
    margin-left: 0px;
    margin-right: auto;
   
}
.estado{
    text-align-last: end; 
    margin-top: 0px;
    margin-bottom: 8px;
  }
  .usuario{
      height: 99%;
  }
  