<ion-header   class="ion-no-border" >
 
  <ion-toolbar  >
    <ion-menu-button  slot="start"></ion-menu-button>
    <img src="/assets/SUPERCITO.png" class="icon1" >
    <ion-buttons slot="end">
      <ion-button  (click)="rutadelUsuario()"> 
        <img src="/assets/usuario.png" class="usuario"> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content  class="ion-padding ">
    <ion-title> Ordenes de Entrega</ion-title>
  <ion-list *ngFor="let item of  Orden">
    
    <ion-item >
      <ion-label> <b>Orden:</b>&nbsp;{{item.Orden}}</ion-label>
      <ion-button color= "light" size="small" shape="round" (click)="abrirModal(item)">{{item.estado.descripcion}}</ion-button>
    </ion-item>

    
  </ion-list>
</ion-content>