
.iconPro{
    display: block;
    margin-left: 80px;
    width: 25%;
    height: 40%;
   
}
.img{
 
    width: 80px;
    height: 80px;
}
// .cardcss{
// --background: transparent!important;
 
//   --border-color:transparent!important;
 
//     padding-top: 8px;
//     padding-bottom: 0px;
   
// }
.boton {
  margin-left: 0px;
  text-transform: none;
  font-size: small;
  
        
  }
.preciotex{
 
  margin-left: 20px;
    margin-top: 4px;
    
}
  
    .text{

     
        font-size: larger;
      
       
      }
      .text1{
        padding-left: 15px;
        margin-top: 3px;
        font-size: small;
      }
      .combo{
        flex: 0 0 calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
        width: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
        max-width: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
        top: 30px;
      }
      .ESTILO {
        width: 100%;
        margin-top: 20px;
    margin-left: auto;
    margin-right: auto;}