
.iconPro{
    display: block;
    margin-left: 80px;
    width: 25%;
    height: 40%;
   
}
.img{
 
    width: 80px;
    height: 80px;
}
// .cardcss{
// --background: transparent!important;
 
//   --border-color:transparent!important;
 
//     padding-top: 8px;
//     padding-bottom: 0px;
   
// }
.boton {
  margin-left: 0px;
  text-transform: none;
  font-size: small;
  
        
  }
.preciotex{
 
  margin-left: 20px;
    margin-top: 4px;
    
}
  
    .text{

        font-weight: bold;
        text-transform: capitalize;
        text-transform: none;
        margin-top: 0px;
        margin-left: 10px;
        margin-bottom: 6px;
        display: table-cell;
        padding-left: 10px;
      
       
      }
      .text1{
        padding-left: 15px;
        margin-top: 3px;
        font-size: small;
      }